{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false,
    "codeFrame": false
  },
  "plugins": ["prettier"],
  "extends": ["prettier", "prettier/react", "react-native-prettier"],
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "default-case": "off",
    "eqeqeq": ["error", "smart"],
    "prefer-const": "error",
    "no-var": "error",
    "no-console": "error",
    "no-shadow": "error",
    "no-undef": "error",
    "import/default": "off",
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": true
      }
    ]
  }
}
